html{
  --sectionH:40vh;
  box-sizing: border-box;
}
*{
  margin:0;
  padding: 0;

}


body{
  background-color: white;
  height: 300vh;
}
/* nawigacja */
 nav {
   position: fixed;
   top:-10vh;
   left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  height: 10vh;
  margin: 0 auto;
  /* align-items: center; */
  background-color: #E08119;
  transition: 1s;
}

nav ul{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  align-items: center;
  height: 100%;
}
nav ul li{
  flex-basis: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
}
nav ul li a{
  text-align: center;
  display: block;
  font-size: 26px;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  align-self: center;
}

/* border */
nav ul li:nth-child(2){
  border-left: 2px solid white;

}
nav ul li:nth-child(3){
  border-left: 2px solid white;
  border-right: 2px solid white;
}
nav ul li:nth-child(4){

  border-right: 2px solid white;

}
nav ul li:hover>a{
  color: black;
}
/* cyndzel */

.up{
  position: fixed;
  width: 5vh;
  height: 5vh;
  background-color: #E08119;
  top: 0vh;
  left: 31.8vh;
  transition: 1s;
}


.up:hover{
  top: 10vh;
}
.up:hover +nav{
  top:0vh;
}




/* Sekcja dzien dobry */

section{
    box-sizing: content-box;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: var(--sectionH);
    border: 2px solid  #E08119;
}
.hello div{

  width: 8vw;
  height: calc(var(--sectionH) / 2);
  float: left;
  line-height:calc(var(--sectionH) / 2);
  text-align: center;
  /* background-color: #E08119; */

  animation: move 5s 1;
  transition: 0.2s;
}
div:nth-child(1){

}
div:nth-child(2){
animation-delay: 0.5s;
}
div:nth-child(3){
animation-delay: 1s;
}
div:nth-child(4){
animation-delay: 1.5s;
}
div:nth-child(5){
animation-delay: 2s;
}
div:nth-child(6){
animation-delay: 2.5s;
}
div:nth-child(7){
animation-delay: 3s;
}
div:nth-child(8){
animation-delay: 3.5s;
}
div:nth-child(9){
animation-delay: 4s;
}
div:nth-child(10){
animation-delay: 4.5s;
}

div span{
  /* display: block; */
  /* display: none; */
  font-family: sans-serif;
  font-size: 70px;
  /* animation: move 5s 1; */
}

.hello div:hover{
  background-color: #F7A30F;

}


@keyframes move {
  0%{
    background-color: #aaa;
    display: block;
  }
  10%{
    background-color: #F7A30F;
  }
  35%{
    background-color: transparent;
    display: none;
  }

  100%{
  }
}
